<div class="card charlie">
<div class="card-body text-center recipe-details">
  <h2 class="card-title juliette">{{name}}</h2>
  <p class="card-text">{{ingredients}}</p>
  <p class="card-text">{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn echo" id="mail-button" data-desc="{{ description }}">Share Recipe</button>
  </p>
</div>
</div>

<form class="form new-comment-form">
  <input type="hidden" value="{{id}}" id="recipe-id" name="recipe-id"/>
  <div class="form-group">
    <label for="comment-body" class="alpha fs-4 text fw-medium">Add comment:</label>
    <textarea class="delta" id="comment-body" name="comment-body"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn echo">Submit</button>
  </div>
</form>

{{#if comments.length}}
<div class="card charlie">
<div class="col-md-6 comment-list">
  <h3  class="card-title juliette">Comments:</h3>

  {{#each comments as |comment|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <p class="delta">{{comment.body}}</p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
</div>
{{/if}}

<script src="/js/recipe.js"></script>
<script src="/js/comment.js"></script>